<div class="relative overflow-hidden rounded-2xl h-40"><img
                class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4" src="{{recipeImg}}"></div>
<div class="flex gap-2">
        <div class="flex"><span class="material-icons text-base mr-1">schedule</span><span
                        class="uppercase text-black">{{time}}</span></div>
        <div class="flex"><span class="material-icons text-base mr-1">cookie</span><span
                        class="uppercase text-black">{{difficulty}}</span></div>
</div>
<div class="uppercase text-black font-bold">{{recipeTitle}}</div>