<div class="flex px-6 py-4 h-16 items-center gap-8 flex-wrap uppercase bg-white">
    <div class="flex items-center text-lg">
        <span class="text-green font-bold">u</span><span class="text-orange font-bold">diet</span>
    </div>
    <div class="flex mr-auto gap-3 flex-wrap text-black">
        <span class="active:text-orange hover:text-orange cursor-pointer">home</span>
        <span class="active:text-orange hover:text-orange cursor-pointer">recipes</span>
        <span class="active:text-orange hover:text-orange cursor-pointer">meal planner</span>
        <span class="active:text-orange hover:text-orange cursor-pointer">shooping</span>
    </div>
    <div class="flex gap-3">
        <button class="uppercase text-orange"(click)="openDialog('login')">login</button>
        <button class="uppercase text-white bg-orange px-2 py-1 rounded-3xl"(click)="openDialog('register')">sign up</button>
    </div>
</div>