<nb-layout>
	<nb-layout-column>
		<div class="w-full
h-screen">
			<app-header></app-header>
			<div class="
	bg-no-repeat bg-cover bg-top
	bg-[url('src/assets/images/home.png')]
	" style="height: calc(100vh - 64px);">
				<div class="flex flex-col w-80 text-center m-auto md:pt-40 lg:pt-48 text-3xl uppercase font-serif">
					<span class="text-orange">happinnes</span>
					<span class="text-black">is a fully</span>
					<span class="text-black">meal-prepared</span>
					<span class="text-orange">firdge</span>
				</div>
			</div>
			<div class="p-6 flex">
				<div class="mr-20 w-40">
					<div class="flex h-12 items-center"><span class=" text-2xl text-orange capitalize">recipes</span>
					</div>
					<div>
						<ul class="mt-4">
							<li *ngFor="let menuItem of menuItems"
								class="border rounded-full mb-4 cursor-pointer active:bg-orange active:text-white hover:bg-orange hover:text-white">
								<app-icon-button [iconSrc]="menuItem.iconSrc" [label]="menuItem.label">
								</app-icon-button>
							</li>
						</ul>
					</div>
				</div>
				<div class="grow">
					<div class="h-12 flex items-center">
						<div class="flex gap-1 p-1 border-2 rounded-full">
							<span class="material-icons">search</span>
							<input placeholder="Search recipes..." class="outline-none">

						</div>
						<div class="ml-auto">
							<nb-select placeholder="Sort by:" [(selected)]="selectedItem" class="select">
								<nb-select-label>
									Sort by: {{ selectedItem }}
								</nb-select-label>
								<nb-option value="Newest">Newest</nb-option>
								<nb-option value="Oldest">Oldest</nb-option>
							</nb-select>
						</div>
					</div>
					<div class="grid gap-4 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 pt-6">
						<div *ngFor="let recipe of recipes">
							<app-recipe-card [recipeImg]="recipe.recipeImg" [time]="recipe.time"
								[difficulty]="recipe.difficulty" [recipeTitle]="recipe.recipeTitle">
							</app-recipe-card>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nb-layout-column>
</nb-layout>