/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding:0 !important;
}
